@import 'bootstrap-flex';

.ember-view > .navbar {
	margin-top: 0;
}

.ember-view > .navbar .nav-item.right > .nav-link {
	padding: 0;
}

.nav-header {
	@extend .nav-item;
	font-weight: bold;
	margin-top: 10px;
}
